<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Chat App</h1>
    <p id="active-users">Active users: 0</p>
    <ul id="messages"></ul>
    <input id="message-input" autocomplete="off">
    <button id="send-button">Send</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var socket = io.connect('localhost:5000',{transports: ["websocket"]});
        // socket.on('update_active_users', function(count) {
        //     document.getElementById('active-users').innerText = 'Active users: ' + count;
        // });
        // socket.on('receive_message', function(data) {
        //     var messages = document.getElementById('messages');
        //     var li = document.createElement('li');
        //     li.innerText = data.user + ': ' + data.message;
        //     messages.appendChild(li);
        // });
        socket.on("connect", (data) => {
        console.log(data);
        });    
        document.getElementById('send-button').onclick = function() {
            console.log("what is your name")
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value.trim();
            if (message !== '') {
                socket.emit('send_message', {user: 'You', message: message});
                messageInput.value = '';
            }
        };
    </script>
</body>
</html>